@use "./../utils" as *;

.appHeader{
    background: yellow;
    padding : rem(16px) rem(24px);

    @include mobile{
        background : $dark-brown;
        color : $white;
    }

    //로고
    .logo{
        width : rem(240px);
        height: rem(48px);
        &__link{
            display : 100%;
            height: 100%;
            background: pink url(./../../assets/images/webcafe-logo.png );
        }
    }


    //멤버서비스
    .memberOnly{
        
    }


    //검색폼
    .searchForm{

    }
}

